In [11]:
#%%timeit
import pandas as pd
import numpy as np
import re

stop_words = ['BY','FOR','OF','REVERSAL','RETURN','TRANSFER','NEFT','FROM','AGAINST','TO','DEBIT','THROUGH','CHEQUE','FOREIGN',
              'NO','RTGS','UTR','INB','JAN','JANUARY','FEB','FEBRUARY','MAR','MARCH','APR','APRIL','MAY','JUN','JUNE','JUL',
              'JULY','AUG','AUGUST','SEP','SEPT','SEPTEMBER','OCT','OCTOBER','NOV','NOVEMBER','DEC','DECEMBER','CLOSURE',
              'NRTGS','IN','MR','MRS','C','AC','FEES','CASH','WITHDRAWAL','CLG','TRF','REVERSAL','NEFT_IN','NEFT_OUT','NEFT_CHRG',
              'BILLDESK','CREDIT','TRF','TFR','TT','TR','TFRR','TF','TL','MARGIN','ETFR','B/F','T/F','BILL ID','IMPS','DR','TXT',
              'SFMS','SCBL','SBIN','ICIC','ICICI','HDFC','ORBC','MAHB','HDFC','PUNB','BARB','UTIB','XLSX','BULK']

#import spreadsheet to work on
f_name = str(input("Enter file name: "))
df = pd.read_excel (f_name, usecols = ['Particulars'])
#add ID column and make it the index
df.insert(0, 'ID', df.index+2)
df = df.set_index('ID')

#import a copy
df_def = pd.read_excel (f_name, header=0)
#add ID column and make it the index
df_def.insert(0, 'ID', df_def.index+2)
df_def = df_def.set_index('ID')

#remove whitespaces
df['Particulars'] = df['Particulars'].str.strip()

#convert everything to uppercase
df['Particulars'] = df['Particulars'].str.upper()

#add spaces next to special characters
df['Particulars'] = df['Particulars'].str.replace(r'([^&\w\s])'," \\1", regex=True)

#remove special characters
df['Particulars'] = df['Particulars'].str.replace(r'([^\w\s\&])',"", regex=True)

#remove alphanumeric and numeric
df['Particulars'] = df['Particulars'].str.replace('\w+\d+', '', regex=True)
df['Particulars'] = df['Particulars'].str.replace('\d+', '', regex=True)

#replace na values with single space
df['Particulars'] = df['Particulars'].fillna(" ")

#modify for specific keywords
df.loc[df['Particulars'].str.contains('|'.join(['INT', 'INTEREST']), case=False), 'Particulars'] = 'Interest'
df.loc[df['Particulars'].str.contains('|'.join(['INB', 'EOD']), case=False), 'Particulars'] = 'Interbank Transfer'
df.loc[df['Particulars'].str.contains('GST', case=False), 'Particulars'] = 'GST Refund'
df.loc[df['Particulars'].str.contains('SMS', case=False), 'Particulars'] = 'SMS Charges'
df.loc[df['Particulars'].str.contains('|'.join(['SALARY', 'WAGES', 'WAGE']), case=False), 'Particulars'] = 'Salary & Wages'
df.loc[df['Particulars'].str.contains('FOREX', case=False), 'Particulars'] = 'Foreign Currency Conversion Tax'
df.loc[df['Particulars'].str.contains('CAR', case=False), 'Particulars'] = 'Maintainence Charges'
df.loc[df['Particulars'].str.contains('CASH' and 'DEPOSIT', case=False), 'Particulars'] = 'Cash Deposit'
df.loc[df['Particulars'].str.contains('WCL', case=False), 'Particulars'] = 'Repayment of WDCL'
df.loc[df['Particulars'].str.contains('|'.join(['FRUIT MASTER', 'FRUIT MSTR']), case=False), 'Particulars'] = 'Fruit Master Agro'
df.loc[df['Particulars'].str.contains('ANAMI JEWELLERS', case=False), 'Particulars'] = 'Anami Jewellers Private Limited'
df.loc[df['Particulars'].str.contains('BCCALC', case=False), 'Particulars'] = 'Bccalc Recovery Charges'

#remove specific unwanted words
pat = '|'.join(r"\b{}\b".format(x) for x in stop_words)
df['Particulars'] = df['Particulars'].str.replace(pat, '', regex=True)

#remove whitespaces
df['Particulars'] = df['Particulars'].str.strip()

#text formatting
df['Particulars'] = df['Particulars'].str.title()

#define all unidentified cases
df = df.applymap(lambda x: '- Unidentified -' if (x == r'(.) ') else x)
df = df.applymap(lambda x: '- Unidentified -' if isinstance(x, str) and ((not x) or (x.isspace()) or (len(x)==1)) else x)
df.loc[df['Particulars'].str.contains('Does not', case=False), 'Particulars'] = '- Unidentified -'

#change edited column name to 'Remarks'
df.rename(columns = {'Particulars':'Remarks'}, inplace = True)

#export remarks as excel
remark_df = pd.merge(df_def, df, on='ID')
remark_df.to_excel(str(f_name.split(".", 1)[0]) + ' - remarks_output.xlsx')

#remove words from numerical columns
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].replace(r'([/\D+/g])',0, regex=True).astype(float)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].replace(r'([/\D+/g])',0, regex=True).astype(float)

#remove commmas,blanks from numerical columns
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].replace(',', '').astype(float)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].replace(',', '').astype(float)
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].fillna(0)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].fillna(0)
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].replace(' ', 0).astype(float)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].replace(' ', 0).astype(float)

#unique remarks and total deposits/withdrawal
sum_dict= {}
for record in remark_df.values:
    remark = record[remark_df.columns.get_loc("Remarks")]
    if remark not in sum_dict:
        sum_dict[remark] = {"Total withdrawal":0,"Total deposit":0}
    withdrawal = record[remark_df.columns.get_loc('WITHDRAWALS')]
    sum_dict[remark]['Total withdrawal'] += withdrawal
    deposit = record[remark_df.columns.get_loc('DEPOSITS')]
    sum_dict[remark]['Total deposit'] += deposit

#output totals excel sheet
totals_df = pd.DataFrame.from_dict(sum_dict, orient ='index')
totals_df.to_excel(str(f_name.split(".", 1)[0]) + ' - total_output.xlsx')

#totals_df.head(50)
remark_df.head(50)

Enter file name: PNB11268.xls

,Txn No.,Txn Date,Particulars,Branch Name,Cheque No.,WITHDRAWALS,DEPOSITS,Balance,Remarks
ID,,,,,,,,,
2,S45204900,31/03/2021,IMPS-IN/109114687357/9872317865/BALAJI T,-,NaN,0.00,25000.0,"31,89,52,163.65 Dr.",Balaji T
3,S45167170,31/03/2021,IMPS-IN/109114686266/9872317865/BALAJI T,-,NaN,0.00,200000.0,"31,89,77,163.65 Dr.",Balaji T
4,S45149499,31/03/2021,IMPS-IN/109114685475/9872317865/BALAJI T,-,NaN,0.00,200000.0,"31,91,77,163.65 Dr.",Balaji T
5,S44724982,31/03/2021,NEFT_IN:BARBF21091170736/0075/ AGGARWAL TRADERS,-,NaN,0.00,104658.0,"31,93,77,163.65 Dr.",Aggarwal Traders
6,S40248879,31/03/2021,0302008700011268:Int.Coll:01-03-2021 to 31-03-202,-,NaN,2849596.00,0.0,"31,94,81,821.65 Dr.",Interest
7,S37172923,31/03/2021,D14921700CR TO445100PD00000170,-,NaN,3839672.00,0.0,"31,66,32,225.65 Dr.",Cr
8,S34518814,31/03/2021,REJECT:904352:FUNDS INSUFFICIENT,-,NaN,263107.00,0.0,"31,27,92,553.65 Dr.",Reject Funds Insufficient
9,S34518814,31/03/2021,REJECT:599:PAPER NOT RECEIVED,-,NaN,329693.00,0.0,"31,25,29,446.65 Dr.",Reject Paper Not Received
10,S34653568,31/03/2021,NEFT_IN:BKIDN21090867081/0034/ SUMIT ARORA AND...,-,NaN,0.00,525.0,"31,21,99,753.65 Dr.",Sumit Arora And Sons
11,M572163,31/03/2021,BY CHETANYA TRADING CO -34...,"SAMRALA, PUNJAB",NaN,0.00,411278.0,"31,22,00,278.65 Dr.",Chetanya Trading Co
12,S33243421,31/03/2021,NEFT_IN:000252075811/0032/ BANWARI LAL PURSHOT...,-,NaN,0.00,139544.0,"31,26,11,556.65 Dr.",Banwari Lal Purshotam Dass
13,M1055344,31/03/2021,BEDI,-,NaN,108512.00,0.0,"31,27,51,100.65 Dr.",Bedi
14,S32700065,31/03/2021,NEFT_IN:Rej For: SBINP21090032958/0033/-RETURN...,-,NaN,0.00,61867.0,"31,26,42,588.65 Dr.",Rej Om Steel Account
15,S32533519,31/03/2021,NRTGS/HDFCR52021033185230229/SHREEGANESHTRADINGCO,-,NaN,0.00,1300000.0,"31,27,04,455.65 Dr.",Shreeganeshtradingco
16,S32118397,31/03/2021,NEFT_OUT:PUNBH21090247231/DHL EXPRESS ...,-,621533.0,76883.00,0.0,"31,40,04,455.65 Dr.",Dhl Express Bby
17,S32118397,31/03/2021,NEFT_CHRG:PUNBH21090247231/DEUT0784BBY/0606251001,-,NaN,4.72,0.0,"31,39,27,572.65 Dr.",Bby
18,S32118226,31/03/2021,NEFT_OUT:PUNBH21090247173/INDIAN OIL CORP ...,-,652596.0,961697.00,0.0,"31,39,27,567.93 Dr.",Indian Oil Corp
19,S32118226,31/03/2021,NEFT_CHRG:PUNBH21090247173/SBIN0009995/3021042...,-,NaN,28.32,0.0,"31,29,65,870.93 Dr.",- Unidentified -
20,S31259023,31/03/2021,NEFT_OUT:PUNBH21090194782/RIETER INDIA P LTD...,-,NaN,192600.00,0.0,"31,29,65,842.61 Dr.",Rieter India P Ltd
21,S31259023,31/03/2021,NEFT_CHRG:PUNBH21090194782/HSBC0411002/1057473...,-,NaN,16.52,0.0,"31,27,73,242.61 Dr.",- Unidentified -
22,S31258995,31/03/2021,NEFT_OUT:PUNBH21090194743/FORBES MARSHALL P LT...,-,NaN,100630.00,0.0,"31,27,73,226.09 Dr.",Forbes Marshall P Ltd
23,S31258995,31/03/2021,NEFT_CHRG:PUNBH21090194743/HDFC0004989/FMPL660...,-,NaN,16.52,0.0,"31,26,72,596.09 Dr.",- Unidentified -
24,S31258961,31/03/2021,NEFT_OUT:PUNBH21090194708/LENZE MECHATRONICS P...,-,NaN,68814.00,0.0,"31,26,72,579.57 Dr.",Lenze Mechatronics P Ltd
25,S31258961,31/03/2021,NEFT_CHRG:PUNBH21090194708/HSBC0411002/1052945...,-,NaN,4.72,0.0,"31,26,03,765.57 Dr.",- Unidentified -
26,S31258928,31/03/2021,NEFT_OUT:PUNBH21090194671/OM STEEL ...,-,NaN,61867.00,0.0,"31,26,03,760.85 Dr.",Om Steel
27,S31258928,31/03/2021,NEFT_CHRG:PUNBH21090194671/SBIN0007052/3490303...,-,NaN,4.72,0.0,"31,25,41,893.85 Dr.",- Unidentified -
28,S31258890,31/03/2021,NEFT_OUT:PUNBH21090194632/KRIPA ELECTRICALS ...,-,NaN,41166.00,0.0,"31,25,41,889.13 Dr.",Kripa Electricals
29,S31258890,31/03/2021,NEFT_CHRG:PUNBH21090194632/BKDN0711377/1377110...,-,NaN,4.72,0.0,"31,25,00,723.13 Dr.",- Unidentified -
30,S31258855,31/03/2021,NEFT_OUT:PUNBH21090194591/HILTI INDIA PRIVATE ...,-,NaN,8820.00,0.0,"31,25,00,718.41 Dr.",Hilti India Private Limited
31,S31258855,31/03/2021,NEFT_CHRG:PUNBH21090194591/CITI0000002/HILT001...,-,NaN,2.36,0.0,"31,24,91,898.41 Dr.",- Unidentified -
32,S31258820,31/03/2021,NEFT_OUT:PUNBH21090194548/DATA COLOR SOLUTION ...,-,NaN,353045.00,0.0,"31,24,91,896.05 Dr.",Data Color Solution P Ltd
33,S31258820,31/03/2021,NEFT_CHRG:PUNBH21090194548/HSBC0400003/0030026...,-,NaN,28.32,0.0,"31,21,38,851.05 Dr.",- Unidentified -
34,S31252386,31/03/2021,NEFT_OUT:PUNBH21090194507/JTL GROUP ...,-,NaN,247500.00,0.0,"31,21,38,822.73 Dr.",Jtl Group
35,S31252386,31/03/2021,NEFT_CHRG:PUNBH21090194507/IBKL0002009/2009102...,-,NaN,28.32,0.0,"31,18,91,322.73 Dr.",- Unidentified -
36,S31252347,31/03/2021,NEFT_OUT:PUNBH21090194470/MITTAL ENGINEERS ...,-,NaN,537100.00,0.0,"31,18,91,294.41 Dr.",Mittal Engineers
37,S31252347,31/03/2021,NEFT_CHRG:PUNBH21090194470/UTIB0003455/9190300...,-,NaN,28.32,0.0,"31,13,54,194.41 Dr.",- Unidentified -
38,S31252313,31/03/2021,NEFT_OUT:PUNBH21090194439/TRUETZSCHLER INDIA P...,-,NaN,77182.66,0.0,"31,13,54,166.09 Dr.",Truetzschler India P
39,S31252313,31/03/2021,NEFT_CHRG:PUNBH21090194439/UTIB0001675/0410102...,-,NaN,4.72,0.0,"31,12,76,983.43 Dr.",- Unidentified -
40,S31252258,31/03/2021,NEFT_OUT:PUNBH21090194394/IDEAL SHEET METAL ST...,-,NaN,25399.00,0.0,"31,12,76,978.71 Dr.",Ideal Sheet Metal Stamp
41,S31252258,31/03/2021,NEFT_CHRG:PUNBH21090194394/KKBK0002568/7611499025,-,NaN,4.72,0.0,"31,12,51,579.71 Dr.",- Unidentified -
42,S31252211,31/03/2021,NEFT_OUT:PUNBH21090194356/SINGH BROTHER ...,-,NaN,99958.50,0.0,"31,12,51,574.99 Dr.",Singh Brother
43,S31252211,31/03/2021,NEFT_CHRG:PUNBH21090194356/UCBA0002969/2969051...,-,NaN,4.72,0.0,"31,11,51,616.49 Dr.",- Unidentified -
44,S31252166,31/03/2021,NEFT_OUT:PUNBH21090194314/DEBAKALYAN PARIHARI ...,-,NaN,53240.00,0.0,"31,11,51,611.77 Dr.",Debakalyan Parihari
45,S31252166,31/03/2021,NEFT_CHRG:PUNBH21090194314/UTIB0001876/9140100...,-,NaN,4.72,0.0,"31,10,98,371.77 Dr.",- Unidentified -
46,S31252118,31/03/2021,NEFT_OUT:PUNBH21090194271/TARUN SHARMA ...,-,NaN,29600.00,0.0,"31,10,98,367.05 Dr.",Tarun Sharma
47,S31252118,31/03/2021,NEFT_CHRG:PUNBH21090194271/UTIB0000067/0670101...,-,NaN,4.72,0.0,"31,10,68,767.05 Dr.",- Unidentified -
48,S31252060,31/03/2021,NEFT_OUT:PUNBH21090194216/UMED SINGH ...,-,NaN,20670.00,0.0,"31,10,68,762.33 Dr.",Umed Singh
49,S31252060,31/03/2021,NEFT_CHRG:PUNBH21090194216/UTIB0000067/9120100...,-,NaN,4.72,0.0,"31,10,48,092.33 Dr.",- Unidentified -
50,S31252010,31/03/2021,NEFT_OUT:PUNBH21090194169/BHUPENDER KUMAR ...,-,NaN,16800.00,0.0,"31,10,48,087.61 Dr.",Bhupender Kumar
51,S31252010,31/03/2021,NEFT_CHRG:PUNBH21090194169/UTIB0000303/9170100...,-,NaN,4.72,0.0,"31,10,31,287.61 Dr.",- Unidentified -

In [ ]:
8014.xlsx