In [6]:
import pandas as pd
import numpy as np
import re

stop_words = ['BY', 'FOR', 'OF' 'REVERSAL', 'RETURN', 'TRANSFER', 'NEFT', 'FROM', 'AGAINST', 'TO', 'DEBIT', 'THROUGH', 'CHEQUE', 'FOREIGN', 'NO', 'RTGS',
              'UTR', 'INB', 'JAN', 'FEB', 'MAR', 'APR','MAY', 'JUN', 'JUNE', 'JUL','JULY', 'AUG', 'SEP', 'SEPT' 'OCT', 'NOV', 'DEC', 
              'CLOSURE', 'NRTGS', 'IN', 'MR', 'MRS', 'C', 'AC', 'FEES', 'CASH', 'WITHDRAWAL', 'CLG', 'TRF', 'REVERSAL','NEFT_IN',
              'BILLDESK', 'CREDIT', 'TRF', 'TFR', 'TT', 'TR', 'TFRR', 'TF', 'TL', 'MARGIN', 'ETFR', 'B/F', 'T/F', 'BILL ID']

#import spreadsheet to work on
f_name = str(input("Enter file name: "))
df = pd.read_excel (f_name, usecols = ['Particulars'])
#add ID column and make it the index
df.insert(0, 'ID', df.index+2)
df = df.set_index('ID')

#import a copy
df_def = pd.read_excel (f_name, header=0)
#add ID column and make it the index
df_def.insert(0, 'ID', df_def.index+2)
df_def = df_def.set_index('ID')

#

#remove whitespaces
df['Particulars'] = df['Particulars'].str.strip()

#convert everything to uppercase
df['Particulars'] = df['Particulars'].str.upper()

#add spaces next to special characters
df['Particulars'] = df['Particulars'].str.replace(r'([^&\w\s])'," \\1")

#remove special characters
df['Particulars'] = df['Particulars'].str.replace(r'([^\w\s\&])',"")

#remove alphanumeric and numeric
df['Particulars'] = df['Particulars'].str.replace('\w+\d+', '')
df['Particulars'] = df['Particulars'].str.replace('\d+', '')

#replace na values with single space
df['Particulars'] = df['Particulars'].fillna(" ")

#modify for specific keywords
df.loc[df['Particulars'].str.contains('|'.join(['INT', 'INTEREST']), case=False), 'Particulars'] = 'Interest'
df.loc[df['Particulars'].str.contains('|'.join(['INB', 'EOD']), case=False), 'Particulars'] = 'Interbank Transfer'
df.loc[df['Particulars'].str.contains('GST', case=False), 'Particulars'] = 'GST Refund'
df.loc[df['Particulars'].str.contains('SMS', case=False), 'Particulars'] = 'SMS Charges'
df.loc[df['Particulars'].str.contains('|'.join(['SALARY', 'WAGES', 'WAGE']), case=False), 'Particulars'] = 'Salary & Wages'
df.loc[df['Particulars'].str.contains('FOREX', case=False), 'Particulars'] = 'Foreign Currency Conversion Tax'
df.loc[df['Particulars'].str.contains('CAR', case=False), 'Particulars'] = 'Maintainence Charges'
df.loc[df['Particulars'].str.contains('CASH' and 'DEPOSIT', case=False), 'Particulars'] = 'Cash Deposit'
df.loc[df['Particulars'].str.contains('WCL', case=False), 'Particulars'] = 'Repayment of WDCL'
df.loc[df['Particulars'].str.contains('|'.join(['FRUIT MASTER', 'FRUIT MSTR']), case=False), 'Particulars'] = 'Fruit Master Agro'
df.loc[df['Particulars'].str.contains('ANAMI JEWELLERS', case=False), 'Particulars'] = 'Anami Jewellers Private Limited'
df.loc[df['Particulars'].str.contains('BCCALC', case=False), 'Particulars'] = 'Bccalc Recovery Charges'

#remove specific unwanted words
pat = '|'.join(r"\b{}\b".format(x) for x in stop_words)
df['Particulars'] = df['Particulars'].str.replace(pat, '')

#remove whitespaces
df['Particulars'] = df['Particulars'].str.strip()

#text formatting
df['Particulars'] = df['Particulars'].str.title()

#define all unidentified cases
df = df.applymap(lambda x: '- Unidentified -' if (x == r'(.) ') else x)
df = df.applymap(lambda x: '- Unidentified -' if isinstance(x, str) and ((not x) or (x.isspace()) or (len(x)==1)) else x)
df.loc[df['Particulars'].str.contains('Does not', case=False), 'Particulars'] = '- Unidentified -'

#change edited columns name to Remarks
df.rename(columns = {'Particulars':'Remarks'}, inplace = True)

#export remarks as excel
remark_df = pd.merge(df_def, df, on='ID')
remark_df.to_excel(str(f_name.split(".", 1)[0]) + ' - remarks_output.xlsx')

#unique remarks
list_unique = remark_df.Remarks.unique() #list
unique_df = pd.DataFrame(list_unique)

#sum deposits and witdrawals
for item in list_unique:
    i=0
    unique_df['Total Withdrawal'] = remark_df.loc[remark_df['Remarks'] == item]['WITHDRAWALS'].sum()
    unique_df['Total Deposits'] = remark_df.loc[remark_df['Remarks'] == item]['DEPOSITS'].sum()
    i+=1

unique_df.head(50)
#remark_df.head(50)

Enter file name: KOF Input.xlsx

                          0  Total Withdrawal  Total Deposits
0                       B F               500             500
1                  Nilkamal               500             500
2                   Charges               500             500
3         Fruit Master Agro               500             500
4                       Lpc               500             500
5                  Interest               500             500
6                    Bashir               500             500
7                       Tax               500             500
8                     Fruit               500             500
9              Nilkamal Ltd               500             500
10            Charges Jakah               500             500
11         - Unidentified -               500             500
12                     Self               500             500
13           Mudasir Bashir               500             500
14                      M M               500             500
15                   Faisal               500             500
16                   Hassan               500             500
17             Book Charegs               500             500
18  Bccalc Recovery Charges               500             500
19                 Himalyan               500             500
20            Sheikh Zubair               500             500
21                  Senator               500             500
22                     Asif               500             500
23               Ravi Mohan               500             500
24            Shaikh Zubair               500             500
25               Agro Fresh               500             500
26           Heevan Resorts               500             500
27                   Heevan               500             500
28      Paisley The Sthapan               500             500
29           Farooq Ah Gada               500             500
30                   Karran               500             500
31       Mir Shafat Hussain               500             500
32                 Sunshine               500             500
33                   Tanvir               500             500
34                    Aliya               500             500
35             Faisal Ahmad               500             500
36                    Nidha               500             500
37            Shabir Ah Dar               500             500
38                    Nidan               500             500
39                  Mudasir               500             500
40              Gh Mohammad               500             500
41                Gh Rasool               500             500
42             Faisal Burza               500             500
43        Ghulam Moh Magray               500             500
44                  Gh Mohd               500             500
45                   Infahs               500             500
46              Reyaz Fruit               500             500
47                    Nidah               500             500
48                   Samina               500             500
49              Ledgr Folio               500             500