In [24]:
import pandas as pd
import numpy as np
import re

stop_words = ['BY','FOR','OF','REVERSAL','RETURN','TRANSFER','NEFT','FROM','AGAINST','TO','DEBIT','THROUGH','CHEQUE','FOREIGN',
              'NO','RTGS','UTR','INB','JAN','JANUARY','FEB','FEBRUARY','MAR','MARCH','APR','APRIL','MAY','JUN','JUNE','JUL',
              'JULY','AUG','AUGUST','SEP','SEPT','SEPTEMBER','OCT','OCTOBER','NOV','NOVEMBER','DEC','DECEMBER','CLOSURE',
              'NRTGS','IN','MR','MRS','C','AC','FEES','CASH','WITHDRAWAL','CLG','TRF','REVERSAL','NEFT_IN','BILLDESK','CREDIT',
              'TRF','TFR','TT','TR','TFRR','TF','TL','MARGIN','ETFR','B/F','T/F','BILL ID','IMPS','DR','TXT','SFMS',
              'SCBL','SBIN','ICIC','ICICI','HDFC','ORBC','MAHB','HDFC','PUNB','BARB','UTIB','XLSX']

#import spreadsheet to work on
f_name = str(input("Enter file name: "))
df = pd.read_excel (f_name, usecols = ['Particulars'])
#add ID column and make it the index
df.insert(0, 'ID', df.index+2)
df = df.set_index('ID')

#import a copy
df_def = pd.read_excel (f_name, header=0)
#add ID column and make it the index
df_def.insert(0, 'ID', df_def.index+2)
df_def = df_def.set_index('ID')

#remove whitespaces
df['Particulars'] = df['Particulars'].str.strip()

#convert everything to uppercase
df['Particulars'] = df['Particulars'].str.upper()

#add spaces next to special characters
df['Particulars'] = df['Particulars'].str.replace(r'([^&\w\s])'," \\1", regex=True)

#remove special characters
df['Particulars'] = df['Particulars'].str.replace(r'([^\w\s\&])',"", regex=True)

#remove alphanumeric and numeric
df['Particulars'] = df['Particulars'].str.replace('\w+\d+', '', regex=True)
df['Particulars'] = df['Particulars'].str.replace('\d+', '', regex=True)

#replace na values with single space
df['Particulars'] = df['Particulars'].fillna(" ")

#modify for specific keywords
df.loc[df['Particulars'].str.contains('|'.join(['INT', 'INTEREST']), case=False), 'Particulars'] = 'Interest'
df.loc[df['Particulars'].str.contains('|'.join(['INB', 'EOD']), case=False), 'Particulars'] = 'Interbank Transfer'
df.loc[df['Particulars'].str.contains('GST', case=False), 'Particulars'] = 'GST Refund'
df.loc[df['Particulars'].str.contains('SMS', case=False), 'Particulars'] = 'SMS Charges'
df.loc[df['Particulars'].str.contains('|'.join(['SALARY', 'WAGES', 'WAGE']), case=False), 'Particulars'] = 'Salary & Wages'
df.loc[df['Particulars'].str.contains('FOREX', case=False), 'Particulars'] = 'Foreign Currency Conversion Tax'
df.loc[df['Particulars'].str.contains('CAR', case=False), 'Particulars'] = 'Maintainence Charges'
df.loc[df['Particulars'].str.contains('CASH' and 'DEPOSIT', case=False), 'Particulars'] = 'Cash Deposit'
df.loc[df['Particulars'].str.contains('WCL', case=False), 'Particulars'] = 'Repayment of WDCL'
df.loc[df['Particulars'].str.contains('|'.join(['FRUIT MASTER', 'FRUIT MSTR']), case=False), 'Particulars'] = 'Fruit Master Agro'
df.loc[df['Particulars'].str.contains('ANAMI JEWELLERS', case=False), 'Particulars'] = 'Anami Jewellers Private Limited'
df.loc[df['Particulars'].str.contains('BCCALC', case=False), 'Particulars'] = 'Bccalc Recovery Charges'

#remove specific unwanted words
pat = '|'.join(r"\b{}\b".format(x) for x in stop_words)
df['Particulars'] = df['Particulars'].str.replace(pat, '', regex=True)

#remove whitespaces
df['Particulars'] = df['Particulars'].str.strip()

#text formatting
df['Particulars'] = df['Particulars'].str.title()

#define all unidentified cases
df = df.applymap(lambda x: '- Unidentified -' if (x == r'(.) ') else x)
df = df.applymap(lambda x: '- Unidentified -' if isinstance(x, str) and ((not x) or (x.isspace()) or (len(x)==1)) else x)
df.loc[df['Particulars'].str.contains('Does not', case=False), 'Particulars'] = '- Unidentified -'

#change edited column name to 'Remarks'
df.rename(columns = {'Particulars':'Remarks'}, inplace = True)

#export remarks as excel
remark_df = pd.merge(df_def, df, on='ID')
remark_df.to_excel(str(f_name.split(".", 1)[0]) + ' - remarks_output.xlsx')

#remove words from numerical columns
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].replace(r'([/\D+/g])',0, regex=True).astype(float)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].replace(r'([/\D+/g])',0, regex=True).astype(float)

#remove commmas,blanks from numerical columns
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].replace(',', '').astype(float)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].replace(',', '').astype(float)
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].fillna(0)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].fillna(0)
remark_df['WITHDRAWALS'] = remark_df['WITHDRAWALS'].replace(' ', 0).astype(float)
remark_df['DEPOSITS'] = remark_df['DEPOSITS'].replace(' ', 0).astype(float)

#unique remarks and total deposits/withdrawal
sum_dict= {}
for record in remark_df.values:
    remark = record[remark_df.columns.get_loc("Remarks")]
    if remark not in sum_dict:
        sum_dict[remark] = {"Total withdrawal":0,"Total deposit":0}
    withdrawal = record[remark_df.columns.get_loc('WITHDRAWALS')]
    sum_dict[remark]['Total withdrawal'] += withdrawal
    deposit = record[remark_df.columns.get_loc('DEPOSITS')]
    sum_dict[remark]['Total deposit'] += deposit

#output totals excel sheet
totals_df = pd.DataFrame.from_dict(sum_dict, orient ='index')
totals_df.to_excel(str(f_name.split(".", 1)[0]) + ' - total_output.xlsx')

#totals_df.head(50)
remark_df.head(50)

Enter file name: ABP6117.xlsx

,Post Date,Value Date,Unnamed: 2,Particulars,WITHDRAWALS,DEPOSITS,Unnamed: 6,Balance,Remarks
ID,,,,,,,,,
2,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,BY TRANSFER ~ ~\nINB:Tfr to cc,0.0,470000.0,NaN,112632121.50\nDR,Interbank Transfer
3,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,BY TRANSFER ~ ~ INB:TFR TO CC,0.0,340000.0,NaN,112292121.50\nDR,Interbank Transfer
4,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,BY TRANSFER ~ ~ RTGS-PUNB-JCT LIMITED - PUNB...,0.0,2400000.0,NaN,109892121.50\nDR,Jct Limited
5,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",2480.0,0.0,NaN,109894601.50\nDR,Extra\nShift
6,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",12276.0,0.0,NaN,109906877.50\nDR,Extra\nShift
7,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",18002.0,0.0,NaN,109924879.50\nDR,Extra\nShift
8,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",3441.0,0.0,NaN,109928320.50\nDR,Extra\nShift
9,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,DEBIT ~ ~ EXTRA TIME FOR AUGUST 2020,37443.0,0.0,NaN,109965763.50\nDR,Extra Time
10,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",264011.0,0.0,NaN,110229774.50\nDR,Extra\nShift
11,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",51593.0,0.0,NaN,110281367.50\nDR,Extra\nShift
12,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",602719.0,0.0,NaN,110884086.50\nDR,Extra\nShift
13,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",392680.0,0.0,NaN,111276766.50\nDR,Extra\nShift
14,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",255622.0,0.0,NaN,111532388.50\nDR,Extra\nShift
15,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",9613.0,0.0,NaN,111542001.50\nDR,Extra\nShift
16,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",148986.0,0.0,NaN,111690987.50\nDR,Extra\nShift
17,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",111209.0,0.0,NaN,111802196.50\nDR,Extra\nShift
18,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,"DEBIT ~ ~ EXTRA\nSHIFT August, 2020",15061.0,0.0,NaN,111817257.50\nDR,Extra\nShift
19,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,DEBIT ~ ~,35000.0,0.0,NaN,111852257.50\nDR,- Unidentified -
20,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,DEBIT ~ ~,11932.0,0.0,NaN,111864189.50\nDR,- Unidentified -
21,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,BY TRANSFER ~ ~ INB:TFR TO CC,0.0,1900000.0,NaN,109964189.50\nDR,Interbank Transfer
22,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,DEBIT ~ ~ Ex Gratia,2005836.0,0.0,NaN,111970025.50\nDR,Ex Gratia
23,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,BY TRANSFER ~ ~ INB:TFR TO CC,0.0,7245000.0,NaN,104725025.50\nDR,Interbank Transfer
24,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ NEFT-SCBL-VINOD KUMAR SINGHAL...,116106.0,0.0,NaN,104841131.50\nDR,Vinod Kumar Singhal
25,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-UTIB-KAMAL BHASIN - AL...,438740.0,0.0,NaN,105279871.50\nDR,Kamal Bhasin
26,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ NEFT-YESB- NATIONAL CAP WORKS...,105075.0,0.0,NaN,105384946.50\nDR,Yesb National Cap Works
27,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ NEFT-UBIN-BAJ FABRICS ...,196798.0,0.0,NaN,105581744.50\nDR,Ubin Baj Fabrics
28,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-SBIN- SPORTKING INDIA- A...,484139.0,0.0,NaN,106065883.50\nDR,Sportking India
29,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-ICIC-LAL INDUSTRIAL - AL...,600000.0,0.0,NaN,106665883.50\nDR,Lal Industrial
30,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-MAHB- GLOBECHEM IMPOR- A...,200000.0,0.0,NaN,106865883.50\nDR,Globechem Impor
31,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-ICIC-KAKA RAM BABU R- AL...,200000.0,0.0,NaN,107065883.50\nDR,Kaka Ram Babu R
32,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ NEFT-ORBC-SHORI LAL CHEMICALS...,60000.0,0.0,NaN,107125883.50\nDR,Shori Lal Chemicals
33,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-HDFC- HINDUSTAN PETRO- A...,821721.0,0.0,NaN,107947604.50\nDR,Hindustan Petro
34,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,BY TRANSFER ~ ~ RTGS-SBIN-LAJ EXPORTS L- SBIN...,0.0,1117512.0,NaN,106830092.50\nDR,Laj Exports L
35,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TRF BY TRK FEED\n~ ~ E O 1\n1,0.0,2005836.0,NaN,104824256.50\nDR,Trk Feed\n E O
36,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,DEBIT ~ ~ Ex Gratia,2005836.0,0.0,NaN,106830092.50\nDR,Ex Gratia
37,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ INB:TFR TO 1586 AGST FNDS REC...,5000000.0,0.0,NaN,111830092.50\nDR,Interbank Transfer
38,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,BY TRANSFER ~ ~ INB:TFR TO CC,0.0,9400000.0,NaN,102430092.50\nDR,Interbank Transfer
39,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,DEBIT ~ ~,3800.0,0.0,NaN,102433892.50\nDR,- Unidentified -
40,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,DEBIT ~ ~,771.0,0.0,NaN,102434663.50\nDR,- Unidentified -
41,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,DEBIT ~ ~,1010.0,0.0,NaN,102435673.50\nDR,- Unidentified -
42,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,DEBIT ~ ~,701.0,0.0,NaN,102436374.50\nDR,- Unidentified -
43,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-PSIB-GULAB CHAND GIR- AL...,500000.0,0.0,NaN,102936374.50\nDR,Psib Gulab Chand Gir
44,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-PUNB-PREM COTTON GIN- AL...,500000.0,0.0,NaN,103436374.50\nDR,Prem Cotton Gin
45,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-UTIB- SUSTAINABLE COT\n-...,1500000.0,0.0,NaN,104936374.50\nDR,Sustainable Cot
46,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-HDFC- MARUTI NANDAN F\n-...,600000.0,0.0,NaN,105536374.50\nDR,Maruti Nandan F
47,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-PUNB- TARUN TRADING C\n-...,400000.0,0.0,NaN,105936374.50\nDR,Tarun Trading C
48,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-BARB-A R TRADING CO - AL...,300000.0,0.0,NaN,106236374.50\nDR,A R Trading Co
49,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-PUNB-SHRI SAI ENTERP- AL...,300000.0,0.0,NaN,106536374.50\nDR,Shri Sai Enterp
50,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ RTGS-HDFC- AVTAR TRADING C\n-...,350000.0,0.0,NaN,106886374.50\nDR,Avtar Trading C
51,2021-01-02 00:00:00,2021-01-02 00:00:00,NaN,TO TRANSFER ~ ~ NEFT-PUNB-K S TRADING CO ...,150000.0,0.0,NaN,107036374.50\nDR,K S Trading Co