In [2]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

In [3]:
df = pd.read_excel("KOF Input - remarks_output.xlsx")
df.head(5)

,ID,Bank Name,A/C No.,A/C Type,DATE,Particulars,CHQ.NO./REF.NO.,WITHDRAWALS,DEPOSITS,BALANCE,Remarks
0,2,J&K Bank A/c,249,CC Scheme,2015-10-20,B/F,NaN,250,250,250,B F
1,3,J&K Bank A/c,249,CC Scheme,2015-10-20,RTGS-NILKAMAL LIMITEDJAKAH15293031129,618607 JAKA,250,250,250,Nilkamal
2,4,J&K Bank A/c,249,CC Scheme,2015-10-20,RTGS-CHARGES-JAKAH15293031129CJAKAH15293031129,CJAKAH152930,250,250,250,Charges
3,5,J&K Bank A/c,249,CC Scheme,2015-10-20,FRUIT MASTER,618608,250,250,250,Fruit Master Agro
4,6,J&K Bank A/c,249,CC Scheme,2015-10-20,FRUIT MASTER,618609,250,250,250,Fruit Master Agro

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974 entries, 0 to 973
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               974 non-null    int64
 1   Bank Name        974 non-null    object
 2   A/C No.          974 non-null    int64
 3   A/C Type         974 non-null    object
 4   DATE             974 non-null    datetime64[ns]
 5   Particulars      973 non-null    object
 6   CHQ.NO./REF.NO.  669 non-null    object
 7   WITHDRAWALS      974 non-null    int64
 8   DEPOSITS         974 non-null    int64
 9   BALANCE          974 non-null    int64
 10  Remarks          974 non-null    object
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 83.8+ KB

In [5]:
for col in df[['Remarks']]:
    df[col] = df[col].str.strip()
    print('Number of unique values in ' + str(col) +' is ' + str(df[col].nunique()))

Number of unique values in Remarks is 252

In [6]:
unique_remarks = df['Remarks'].unique().tolist()
sorted(unique_remarks)[:20]

['- Unidentified -',
 'Ab Gaffar',
 'Ab Gaffar Parray',
 'Ab Gani Parray',
 'Ab Majeed',
 'Ab Majid',
 'Ab Rehman',
 'Agro Fresh',
 'Ahad',
 'Ahad Hotel',
 'Ahad Hotels',
 'Ahm',
 'Ajaz',
 'Ajaz Ah Mir',
 'Alim',
 'Aliya',
 'Amb Charges',
 'Amrapali',
 'Anami Jewellers Private Limited',
 'Anil']

In [7]:
process.extract('Amb', unique_remarks, scorer=fuzz.token_sort_ratio)[:100]

[('Ahm', 67), ('Alim', 57), ('Samina', 44), ('Shamim', 44), ('Ghulam', 44)]

In [8]:
process.extract("Fruit Master Agro", unique_remarks, scorer=fuzz.token_sort_ratio)

[('Fruit Master Agro', 100),
 ('Frruit Master', 80),
 ('Fruiut Master', 80),
 ('Fruitmaster', 79),
 ('Agro Fresh', 59)]

In [9]:
score_sort = [(x,) + i
             for x in unique_remarks 
             for i in process.extract(x, unique_remarks, scorer=fuzz.token_sort_ratio)]

In [10]:
similarity_sort = pd.DataFrame(score_sort, columns=['remarks_sort','match_sort','score_sort'])
similarity_sort.head(100)

   remarks_sort    match_sort  score_sort
0           B F           B F         100
1           B F     Ab Gaffar          50
2           B F  Faisal Burza          40
3           B F       Min Bal          40
4           B F      Ab Majid          36
..          ...           ...         ...
95     Himalyan      Himalyan         100
96     Himalyan         Aliya          62
97     Himalyan        Hassan          57
98     Himalyan   Salia Ikram          53
99     Himalyan   Fiyaz Ahmad          53

[100 rows x 3 columns]

In [11]:
similarity_sort['sorted_remarks_sort'] = np.minimum(similarity_sort['remarks_sort'], similarity_sort['match_sort'])
similarity_sort.head(100)

   remarks_sort    match_sort  score_sort sorted_remarks_sort
0           B F           B F         100                 B F
1           B F     Ab Gaffar          50           Ab Gaffar
2           B F  Faisal Burza          40                 B F
3           B F       Min Bal          40                 B F
4           B F      Ab Majid          36            Ab Majid
..          ...           ...         ...                 ...
95     Himalyan      Himalyan         100            Himalyan
96     Himalyan         Aliya          62               Aliya
97     Himalyan        Hassan          57              Hassan
98     Himalyan   Salia Ikram          53            Himalyan
99     Himalyan   Fiyaz Ahmad          53         Fiyaz Ahmad

[100 rows x 4 columns]

In [12]:
high_score_sort = similarity_sort[(similarity_sort['score_sort'] >= 80) &
                                      (similarity_sort['remarks_sort'] != similarity_sort['match_sort']) &
                                      (similarity_sort['sorted_remarks_sort'] != similarity_sort['match_sort'])]

In [13]:
high_score_sort.groupby(['remarks_sort','score_sort']).agg(
                        {'match_sort': ', '.join}).sort_values(
                        ['score_sort'], ascending=False)

                                                       match_sort
remarks_sort         score_sort
M M                  100                                      M&M
M & M                100                                 M M, M&M
Lands End Automotive 98                     Lands End Automotives
Mohammad Siddique    97                          Mohammad Sidique
Kashmir Orchard      97          Kashmirorchard, Kashmir Orchards
...                                                           ...
M & M                80                                        Mm
M M                  80                                        Mm
M&M                  80                                        Mm
Mh Sidiq             80                              Mohd Sidique
Yourslf              80                                  Ypurself

[81 rows x 1 columns]

In [14]:
score_set = [(x,) + i
             for x in unique_remarks
             for i in process.extract(x, unique_remarks, scorer=fuzz.token_set_ratio)]

In [15]:
similarity_set = pd.DataFrame(score_set, columns=['remarks_set','match_set','score_set'])
similarity_set['sorted_remarks_set'] = np.minimum(similarity_set['remarks_set'], similarity_set['match_set'])

#Pick values
high_score_set = similarity_set[(similarity_set['score_set'] >= 80) & 
                                    (similarity_set['remarks_set'] != similarity_set['match_set']) & 
                                    (similarity_set['sorted_remarks_set'] != similarity_set['match_set'])]

#Drop the representative value column
high_score_set = high_score_set.drop('sorted_remarks_set',axis=1).copy()

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
high_score_set.groupby(['match_set','score_set']).agg(
                       {'remarks_set': ', '.join}).sort_values(
                       ['score_set'], ascending=False)

                                                                                          remarks_set
match_set                              score_set
Ab Gaffar Parray                       100                                                  Ab Gaffar
Hassan Energy                          100                                                     Hassan
Mudasir Bashir Mir                     100                            Bashir, Mudasir Bashir, Mudasir
Mudasir Bashir                         100                                            Bashir, Mudasir
Mudasir Bashi\n              R Mir     100                                                    Mudasir
Met Kashmir                            100                                                    Kashmir
Majid                                  100                                                   Ab Majid
Maintainence Charges                   100                                                    Charges
M&M Cottage                            100                                            M M, M&M, M & M
M&M                                    100                               M M, M Mchq, M Yousuf, M & M
M Yousuf                               100                                                 M M, M & M
M Mchq                                 100                                                 M M, M & M
M M                                    100                                                      M & M
Lpc Renewal                            100                                                        Lpc
Khyber Medical                         100                                                     Khyber
Kashmir Orchardjaka                    100                                                    Kashmir
Kashmir Orchard Fresh                  100                                   Kashmir, Kashmir Orchard
Kashmir Orchard                        100                                                    Kashmir
Javaid Ah                              100                                                     Javaid
Income Tax Officer                     100                                                 Income Tax
Iffco Tokio                            100                                                      Iffco
Heevan Travels And                     100                                                     Heevan
Heevan Retreat                         100                                                     Heevan
Mushtaq Ah                             100                                                    Mushtaq
Mushtaq Ah Lone                        100                                        Mushtaq Ah, Mushtaq
Nidha Burza                            100                                                      Nidha
Siddique                               100                                          Mohammad Siddique
Yourself As Per List Attached          100                             Yourself, Yourself As Per List
Yourself As Per List                   100                                                   Yourself
Yourself  Sal                          100                                              Sal, Yourself
Wcdl                                   100                                                  Disb Wcdl
Travel Impressions                     100                                                     Travel
Travel Impression                      100                                                     Travel
Travel                                 100                                     Capital Tourand Travel
Tax                                    100                             Income Tax, Income Tax Officer
Stock Audit Fee                        100                                                Stock Audit
Showkat Ahmad                          100                                                    Showkat
Nilkamal Ltd                           100                                                   Nilkamal
Shabir Ah Dar                          100                                                  Shabir Ah
Sayar Ahmed                            100                                                      Sayar
Salia Ikram                            100                                                      Salia
Sajad Ah                               100                                                      Sajad
Reyaz Fruit                            100                                                      Fruit
Renewal Charges                        100                                                    Charges
Rasool                                 100                    Gh Rasool, Ghulam Rasool Dar, Ga Rasool
Rajiv Jhamb                            100                                                      Rajiv
Owais Burza                            100                                                      Owais
Heevan Resorts                         100                                                     Heevan
Ledgr Folio   Fromledgr Folio          100                                                Ledgr Folio
Green Valleyfruits  Green Valleyfruits 100                                  Green Valleyfruits, Green
Charges                                100                       Bccalc Recovery Charges, Amb Charges
Fruit  Aster                           100                                                      Fruit
Green Valleyfruits                     100                                                      Green
Faisal Burza                           100                                    Faisal, Faisal Ah Burza
Faisal Ahmad                           100                                                     Faisal
Faisal Ah Burza                        100                                                     Faisal
Dd Charges                             100                                                         Dd
Charges Jakah                          100                                                    Charges
Ch Aishi Ram Batra                     100                                               Ch Aishi Ram
Ghulam Moh Magray                      100                                                     Ghulam
Baljeet Singh                          100                                                    Baljeet
Asif Iqbal Burza                       100                                           Asif, Asif Burza
Asif Burza                             100                                                       Asif
Anil Nirmal                            100                                                       Anil
Ajaz Ah Mir                            100                                                       Ajaz
Ahad Hotels                            100                                                       Ahad
Ahad Hotel                             100                                                       Ahad
Fruit Master Agro                      100                                                      Fruit
Fayaz Ahmad                            100                                                      Fayaz
Green Valeey                           100                                                      Green
Green Valley                           100                                                      Green
Ghulam Rasool Dar                      100                                                     Ghulam
Lands End Automotives                  98                                        Lands End Automotive
Kashmirorchard                         97                                             Kashmir Orchard
Mohammad Sidique                       97                                           Mohammad Siddique
Mudasir Bashir Mir                     97                          Mudasir Bashi\n              R Mir
Kashmir Orchards                       97                                             Kashmir Orchard
Travel Impressions                     97                                           Travel Impression
Green Valley                           96                                                 Green Valey
Green Valey                            96                                                Green Valeey
Ahad Hotels                            95                                                  Ahad Hotel
Kashmirorchard                         93                                            Kashmir Orchards
Yourslf                                93                                                    Yourself
Mohammad Sidique                       93                                              Mohammad Sidiq
Faisal                                 92                                            Faisaal, Faiasal
Green Valley                           92                                                Green Valeey
Faiasal                                92                                                      Faiasa
Kashmir                                92                                                      Kahmir
Fruiut Master                          92                                  Fruitmaster, Frruit Master
Sheikh Zubair                          92                                               Shaikh Zubair
Fruitmaster                            92                                               Frruit Master
Nidha                                  91                                                      Nidaha
Fiyaz Ahmad                            91                                                 Fayaz Ahmad
Gh Mohammad                            91                                                 Gh Mohamamd
Nidaha                                 91                                                       Nidah
Mohammad Sidiq                         90                                           Mohammad Siddique
Gh Rasool                              89                                                   Ga Rasool
Nidha                                  89                                                        Nida
Nidan                                  89                                                        Nida
Nidah                                  89                                                        Nida
Bill                                   89                                                       Bilal
Showket                                86                                                     Showkat
Slf                                    86                                                        Self
Faisaal                                86                                                     Faiasal
Kashmir Orchards                       86                                         Kashmir Orchardjaka
Siddique                               86                                                      Siddiq
Mubashir                               86                                                      Bashir
Mohd Sidique                           86                                            Mohammad Sidique
Mudasir Bashir                         85                          Mudasir Bashi\n              R Mir
Kashmirorchard                         85                                         Kashmir Orchardjaka
Mohammad Sidique                       84                                                 Gh Mohammad
Mohammad Sidiq                         84                                                 Gh Mohammad
Mohammad Siddique                      84                                                 Gh Mohammad
Nighta                                 83                                                      Nighat
Faisal                                 83                                                      Faiasa
Dd Charges                             82         Charges Jakah, Bccalc Recovery Charges, Amb Charges
Ab Majid                               82                                                   Ab Majeed
Kashmir Orchards                       81                                       Kashmir Orchard Fresh
Ashi                                   80                                                      Arshid
Yourself As Per List                   80                                               Yourself  Sal
Green Valleyfruits                     80                                                Green Valley
Yourself As Per List Attached          80                                               Yourself  Sal
Ab Gani Parray                         80                                            Ab Gaffar Parray
Bashir                                 80                                                        Ashi
Salia                                  80                                                       Aliya
Owais                                  80                                                       Oasis
Kashmirorchard                         80                                       Kashmir Orchard Fresh
Nidha                                  80                                                Nidan, Nidah
Nidan                                  80                                                       Nidah
Nidaha                                 80                                                        Nida
Fruit                                  80                                                       Friut
Mudasir                                80                                                    Mubashir
Mohd Sidique                           80                                                    Mh Sidiq
Ghulam Rasool Dar                      80                                        Gh Rasool, Ga Rasool
Fruit Master Agro                      80                                               Frruit Master
Kmr Orchard                            80                                              Kashmirorchard
Fruiut Master                          80                                           Fruit Master Agro
Ypurself                               80                                                     Yourslf